.form-details {
  display: flex;
  flex-direction: column;
  .form-row {
    margin-bottom: 16px;
  }

  .w100 {
    width: 100%;
  }
  .w75 {
    width: 75%;
  }
  .w50 {
    width: 50%;
  }
  .w25 {
    width: 25%;
  }
}


