<h2>Client Details</h2>
<form [formGroup]="clientForm" (ngSubmit)="onSave()">
<mat-grid-list cols="2" rowHeight="65px" gutterSize="10px">
  <mat-grid-tile rowspan="4">
    <div class="form-details">

        <div class="form-row">
          <mat-form-field appearance="outline" class="w75">
            <mat-label>Client Name</mat-label>
            <input matInput [value]="client.name" formControlName="name" maxlength="50" required />
            <mat-icon matSuffix>person</mat-icon>
            <mat-hint>Enter the name of the client</mat-hint>
            <mat-error *ngIf="clientForm.controls['name']?.invalid">Client Name is required</mat-error>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field appearance="outline" class="w75">
            <mat-label>Client ID</mat-label>
            <input matInput [value]="client.clientId" formControlName="clientId" readonly />
            <mat-icon matSuffix>fingerprint</mat-icon>
            <mat-hint>This is a unique identifier for the client</mat-hint>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field appearance="outline" class="w75">
            <mat-label>Client Secret</mat-label>
            <input matInput [value]="client.clientSecret" formControlName="clientSecret" readonly />
            <mat-icon matSuffix>lock</mat-icon>
            <mat-hint>Keep this secret safe</mat-hint>
          </mat-form-field>
        </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile rowspan="4">
    <!-- Additional content can go here -->
    <div class="form-details">
      <div class="form-row">
        <label>Client Roles</label>
        <app-c4c-list [items]="items" (selectionChange)="onSelectionChange($event)"></app-c4c-list>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="1">
    <mat-error *ngIf="errorMessage"> {{ errorMessage }}</mat-error>
    <div class="button-row">
      <button mat-raised-button type="button" class="button-space" (click)="onCancel()">
        Cancel
      </button>
      <button mat-raised-button color="primary" type="submit" class="button-space">
        Save
      </button>
    </div>
  </mat-grid-tile>
</mat-grid-list>
</form>
