<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <mat-nav-list>
      <a routerLinkActive="active-link" mat-list-item [routerLink]="['/tenant']">Teanants</a>
      <a routerLinkActive="active-link" mat-list-item [routerLink]="['/role']">Roles</a>
      <a routerLinkActive="active-link" mat-list-item [routerLink]="['/client']">Clients</a>
      <a routerLinkActive="active-link" mat-list-item [routerLink]="['/restAcl']">Rest ACLs</a>
      <a routerLinkActive="active-link" mat-list-item (click)="logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
