/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
a {
  text-decoration: none;
}

.table-container {
  display: flex;
  flex-direction: column;

}
.mat-elevation-z8 {
  max-height: 100%; /* Ensure the table takes the full height of the container */
  overflow: auto; /* Add scroll if content overflows */
}
.active-link .mdc-list-item__primary-text {
  color: #673ab7 !important;
  font-weight: 500;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.float-right {
  margin-left: 10px;
}
.masked {
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 0.3em;
}

.form-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  .form-row {
    margin-bottom: 16px;
  }

  .w100 {
    width: 100%;
  }
  .w75 {
    width: 75%;
  }
  .w50 {
    width: 50%;
  }
  .w25 {
    width: 25%;
  }

}

mat-grid-list {
  width: 100%;
}
mat-grid-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.button-row {
  width: 100%;
  text-align: center;
}
.button-space {
  margin-right: 10px; /* Adjust the value as needed */
}
